* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: white;
  font: normal 100%/1.4 sans-serif;
}


.container {
	width: 980px;
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 980px) {

	.container {
		width: 90%; 
	}	
}


section {  
  text-align: center;
  padding: 100px 0 0;
  height: 800px;
  width: 100%;
}


.right {float: right;}
.left {float: left;}









/*POP*/

.ui-dialog {

    position: fixed!important;
    width: 600px!important;
    height: 350px!important;
    z-index: 99999999999999999!important;
	padding: 0!important;
	top: 160px!important; 
	display: block;
	margin: 0 auto;
	
	.ui-dialog-content {
	
		padding: 0!important;
	}
	
	
	input , label {
	
		float: left;
		
	}
	
}

.ui-widget-overlay {
   background: black url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
   opacity: .60!important;
   z-index: 2999647 !important;
   
}

#popHeader {
	height: 85px;
	width: 100%;
	padding: 20px;
	
	h4 {
		width: 60%;
	    color:#565656;
	}
}

#freeSwagEmail {
	width: 100%;
	height: 170px;
	background: #f1f1f1;
	background: url('../img/emailBG.png');
	background-size: cover;
	color: white;
	padding: 20px 20px;
	font-size: 23px;
}

.ui-widget {

	input[type="email"] {
	    font-family: Verdana,Arial,sans-serif;
	    font-size: 1em;
	    width: 71%;
	    height: 55px;
	    color:#565656;
	}
	
	input[type="submit"] {
	    font-family: Verdana,Arial,sans-serif;
	    font-size: 1em;
	    width: 25%;
	    height: 55px;
	    position: relative;
	    top:27px;
	    background: black;
	}
	
	select, input, button {
	    border-width: 0px;
	    position: relative;
	    top:27px;
    }
}

#popFooter {
	padding:27px 20px;
    color:#565656!important;
}
 
 
 